{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
   <title>Libros</title>
    <!-- Bootstrap4 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Bootstrap4 Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <link rel="icon" type="image/png" href="{% static 'imagenes/giorno.png' %}" >
  </head>
  <body>
    <div class="container">
      <!-- Navbar -->
      <nav class=" navbar navbar-expand-lg navbar-light bg-info fixed-top">
    <a class="navbar-brand" href="{% url 'index' %}">BookMetter</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link"  href="{% url 'logout' %}">Cerrar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="{% url 'libros' %}">Libros</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" method="get">
      <input class="form-control mr-sm-2" name="bus" type="search" placeholder="Buscar " aria-label="buscar">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    </div>
    </nav>
    <!-- Contenido -->
    <div class="container mt-5">
      <div class="row ">
        <div class="col-md-12 ">
          <div class="tabla ">
            <table class="table " >
          <thead class="mt-4 thead-dark">
            <tr >
              <th scope="col">Isbn</th>
              <th scope="col">Titulo</th>
              <th scope="col">Autor</th>
              <th scope="col">Lanzamiento</th>
              <th scope="col"> </th>
            </tr>
          </thead>
          <tbody>
            <!-- persona es una varibale nueva y personas es la variable del contexto -->
            {% for libro in libros %}
            <tr>
              <th thead-light>{{libro.isbn}}</th>
              <th thead-light>{{libro.title}}</th>
              <th thead-light>{{libro.author}}</th>
              <th thead-light>{{libro.year}}</th>
              <th thead-light><a href="{% url 'detalles_libro' libro.isbn %}">Ver</a></th>

            </tr>
            {% endfor %}
          </tbody>
        </table>
          </div>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
